
<h1>Dashboard</h1>

<div id="block-tables" class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li>
	<% tabs_tag do |tab| %>
	<%= tab.dashboard 'Profile', profile_for(@user)%>
	<%= tab.videos 'Videos', videos_path %>
	<%= tab.radio 'Radio Station', '' %>
	<%= tab.radio 'Blog', '' %>
	<%= tab.radio 'Settings', '' %>
	<% end %>
      </li>
    </ul>
  </div>
  
  <div class="content">
    <h2 class="title"></h2>
    <div class="inner">
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <div class="pagination">
        </div>
      </div>
    </div>
  </div>
</div>
