
<div class="content">
  <h2 class="title">Forms</h2>
  <div class="inner">
    <form class="form" method="get" action="#">
      <% form_for :profile do |f| %>
      <div class="group">
        
	<label class="label">First Name</label>
        <%= f.text_field  "first_name"%>
        <span class="description">Ex: a simple text</span>
      </div>

      <div class="group">
        
	<label class="label">LastName</label>
        <%= f.text_field  :last_name%>
        <span class="description">Ex: lastname</span>
      </div>


      <div class="group">
	<label for="post_title" class="label">Gender</label>
	<%= radio_button :profile, :gender, "Male"   %> Male
	<%= radio_button :profile, :gender, "Female" %> Female
      </div>

      <div class="group">
	<label for="post_title" class="label">Birth Date</label>
        <%= date_select :profile, :birthdate, 
            :start_year => Profile::START_YEAR,
        :end_year => Time.now.year,
        :include_blank => true,
        :order => [:month, :day, :year] %>
      </div>

      <div class="group">
	<label class="label">Occupation</label>
        <%= f.text_field  :occupation%>
      </div>
      
      <div class="group">
	<label class="label">City</label>
        <%= f.text_field  :city %>
      </div>

      <div class="group">
	<label class="label">State</label>
        <%= f.text_field  :state%>
      </div>


      <div class="group">
	<%= submit_tag "Update", :class => "submit" %> 
      </div>
      <% end %>
  </div>


</div>
