


<% form_for :profile do |form| %>
<fieldset>
  <legend><%= @title %></legend> 
  
  <%= error_messages_for 'profile' %>
  <%= text_field_for form, "first_name" %>
  <%= text_field_for form, "last_name"  %>

   <label>Gender:</label> 
    <%= radio_button :profile, :gender, "Male"   %> Male
    <%= radio_button :profile, :gender, "Female" %> Female
  
  

    <label>Birthdate:</label> 
    <%= date_select :profile, :birthdate, 
                           :start_year => Profile::START_YEAR,
                           :end_year => Time.now.year,
                           :include_blank => true,
                           :order => [:month, :day, :year] %>
  
  <%= text_field_for form, "occupation" %>
  <%= text_field_for form, "city" %>
  <%= text_field_for form, "state" %>
  <%= text_field_for form, "zipcode", Profile::ZIP_CODE_LENGTH %> 

  <%= submit_tag "Update", :class => "submit" %> 
</fieldset>
<% end %>





