!!! Strict
%html
  %head
    %title YOKE
    = stylesheet_link_tag current_theme_stylesheet_path('style')
    = stylesheet_link_tag current_theme_stylesheet_path('base')
  %body
    #wrapper
      #header
        %h1 
        %h2 ......................
        - form_tag '' do
          = select_tag("locale", options_for_select(LOCALES_AVAILABLE, I18n.locale), { :index => nil, :onchange => 'this.form.submit()'})
      #nav
        %ol
          %a(href="/")
            %li 
              =  'home'
            %a=  'about'
            = link_to "Jobs", admin_jobs_path
            %li Contact Us
            - if current_user
              = "Logged-in as #{current_user.email}"
              =  link_to "My Account", edit_user_path(current_user)
              =  link_to "Logout", logout_path
              - else
                %a(href=login_path)
                  %li Login
                %a(href=signup_path)
                  %li Signup                
      #content
        =yield

      #side_bar
        %h1 Side Bar
        %p
          This is the side bar of the webpage

      #footer
        %p
          This is the footer.
