<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Yoke::Balanced Social Networking</title>
    <link rel="stylesheet" href="stylesheets/base.css" type="text/css" media="screen" />
    
    <%= stylesheet_link_tag current_theme_stylesheet_path('style') %>
    <%= stylesheet_link_tag current_theme_stylesheet_path('base') %>
    <%= javascript_include_tag current_theme_javascript_path('flowplayer') %>
    <%= javascript_include_tag current_theme_javascript_path('jquery') %>
    <%= javascript_include_tag current_theme_javascript_path('swfobject') %>
    
  </head>
  <body>
    <div id="container">
      <div id="header">
	<h1> 
	  <a href="/"><%= I18n.t('txt.quote')%></a></h1>
	<div id="user-navigation">
          <ul class="wat-cf">
	    <% if current_user %>
	    
            <li><%= link_to I18n.t('txt.welcome'), dashboard_path %>  
              <%= "[#{current_user.login.capitalize}]" %></li>
            <li><%= link_to I18n.t('user.myaccount'), edit_user_path(current_user) %></li>
            <li><%= link_to I18n.t('user.logout'), logout_path %></li>
	    
            <% else %>
	    <li>
	      <% form_tag '' do %>
	      <%= select_tag("locale", options_for_select(LOCALES_AVAILABLE, I18n.locale), 
		  { :index => nil, :onchange => 'this.form.submit()', :class => "styled"}) %>
	      <% end %>
	    </li>
	    <li><%= link_to I18n.t('user.login'), login_path %></li>
	    <li><%= link_to I18n.t('user.signup'), signup_path %></li>
            <%end %>
	    <% if current_user && is_admin? %>
	    <li><%= link_to I18n.t('txt.admin'), admin_index_path %></li>
	    <%end %>
	    
          </ul>
	</div>
	<div id="main-navigation">
          <ul class="wat-cf">
          </ul>
	</div>
      </div>
      <div id="wrapper" class="wat-cf">
	<div id="main">
          <div class="block" id="block-text">
            <div class="content">
	      <div class="inner">
		<p class="first">
		  <%= yield %>
		</p>
	      </div>
            </div>
          </div>
          <div id="footer">
            <div class="block">

	      
	      <p><%= I18n.t('txt.copyright')%></p>
	      <hr>







              </div>
            </div>
	  </div>
	  <div id="sidebar">
            <div class="block notice">
	      
	      <%= yield :sidebar %>

            </div>
          </div>
	</div>
      </div>
    </div>
  </body>
</html>


